@media (min-width: 768px) {
  .grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .grid-gap {
    grid-column-gap: 30px;
  }

  /* break bottom navigation area into five column grid */
  .bottom-nav {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .section-elements {
    display: initial;
  }

  .dropdown-menu-toggle {
    display: none;
  }
}
